$background: #ffcb70;
$brown-border: #813e20;
$gold: #ffbb5c;
$gold-text-lighter: #fdc77a;

h1,
h2,
h3,
p {
    color: $brown-border !important;
}

h1,
h2,
h3 {
    font-family: "Playfair Display";
    font-weight: bolder;
}

h2 {
    font-size: 1rem;

    @media only screen and (min-width: 1200px) {
        font-size: 1.2rem;
    }
}

h3 {
    font-size: 0.8rem;
    font-weight: bolder;
}

p {
    font-family: "classy_v";
    font-size: 12px;
}

.content-wrapper {
    .splash-screen {
        // height: 100vh;
        height: calc(var(--vh, 1vh) * 100); /* instead of 100vh */

        position: absolute;
        z-index: 9999;
        background-color: $brown-border;
        display: flex;
        align-items: center;
        justify-content: center;
        transition:
            transform 0.9s ease-in-out,
            opacity 2s ease-in-out;
        transform: translateY(0);
        opacity: 1;
        overflow: hidden;

        img {
            width: 80%;
            animation: fadeInBg 0.2s ease forwards;
        }

        &.swipe-up {
            transform: translateY(-100%);
            // opacity: 0; // fade out
            pointer-events: none;
        }

        .splash-top-left {
            width: 300px;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            filter: brightness(0.5);
            transform: translateX(-50px);
            animation: fadeInLeft 0.5s ease-out forwards;

            img {
                width: 100%;
            }
        }

        .splash-bottom-right {
            width: 300px;
            position: absolute;
            bottom: 0;
            right: 0px;
            filter: brightness(0.5);
            opacity: 0;
            transform: translateX(50px);
            animation: fadeInRight 0.5s ease-out forwards;

            img {
                width: 100%;
            }
        }
    }
}

.main-content-wrapper {
    border: 8px solid $brown-border;
    position: relative;
    background: $background;
    padding: 3vw 3vw 10vw;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        opacity: 0.4; // control transparency
        pointer-events: none; // make sure it doesn’t block clicks
        background:
            url("../images/cover/facade-top-left.png") top left no-repeat,
            url("../images/cover/facade-top-right.png") top right no-repeat,
            url("../images/cover/center-left.png") center left no-repeat,
            url("../images/cover/center-right.png") center right no-repeat,
            url("../images/cover/facade-bottom-left.png") bottom left no-repeat,
            url("../images/cover/facade-bottom-right.png") bottom right no-repeat;
        background-size:
            150px 150px,
            150px 150px,
            80px 180px,
            80px 180px,
            150px 150px;
        animation: fadeInBg 6s ease forwards;

        @media only screen and (min-width: 1200px) {
            background-size:
                250px 250px,
                250px 250px,
                140px 300px,
                140px 300px,
                250px 250px;
        }
    }

    .brides-detail-container {
        text-align: center;
        color: $brown-border;

        h2 {
            margin-bottom: 0;
            font-weight: bold;
            text-transform: capitalize !important;
        }

        p {
            color: $brown-border;
            font-family: "Playfair Display" !important;
        }

        &.parent {
            margin-top: 10vh;
            margin-bottom: 20px;
            animation: fadeInText 5s ease forwards;
        }

        &.brides {
            animation: fadeInText 6.5s ease forwards;

            h2 {
                text-transform: capitalize;
            }
        }
    }

    .invitation-salutation-container {
        margin: 50px 30px;
        text-align: center;
        animation: fadeInText 5s ease forwards;
        font-family: "classy_v";

        p {
            color: $brown-border;
            font-size: 14px;
            font-family: "classy_v";
        }

        .dotted-line {
            width: 200px;
            margin: 45px auto 10px;
            border: 1px dotted $brown-border;
        }
    }

    .wedding-details-container {
        margin-top: 30px;
        text-align: center;

        .detail-container {
            margin-top: 20px;
        }

        h2 {
            font-weight: bolder;
            font-size: 23px !important;
        }

        h3 {
            font-weight: 600;
            font-size: 19px;
        }

        p {
            font-size: 16px;
        }
    }

    .program-schedule {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        margin: 30px auto;

        h2 {
            color: white;
            text-align: center;
            font-family: "Playfair Display";
            font-size: 23px !important;
            font-weight: bolder;

            @media only screen and (min-width: 1200px) {
                font-size: 1.7rem;
            }
        }

        .timeline {
            @media only screen and (min-width: 1200px) {
                margin: 0px 40px;
            }

            &::before {
                content: "";
                position: absolute;
                left: 15px; // Adjust this based on your layout
                top: 65px;
                bottom: 0;
                width: 2px;
                // background-color: $brown-border;

                @media only screen and (min-width: 1200px) {
                    font-size: 1.5rem;
                    left: 77px;
                }
            }

            .program-item {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 8px;
                max-width: 300px;
                @media only screen and (min-width: 1200px) {
                    max-width: 600px;
                }
                // margin-left: 30px;

                .time {
                    font-size: 16px;
                    font-weight: bold;
                    color: $gold-text-lighter;
                    font-family: "Playfair Display";
                }

                .event {
                    font-size: 14px;
                    flex: 1;
                    font-family: "classy_v";
                    text-align: center;

                    @media only screen and (min-width: 1200px) {
                        font-size: 1.2rem;
                    }
                }

                // Dot for the current event
                &.current {
                    &::before {
                        content: "";
                        position: absolute;
                        left: 70px;
                        top: 7px;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background: url("../images/cover/seperator-center.png") no-repeat left;
                        background-size: 15px, 15px;
                        animation: breathe 1.6s ease-in-out infinite;

                        @media only screen and (min-width: 1200px) {
                            left: 150px;
                        }
                    }
                }
            }
        }
    }

    .wishing-chat-container {
        margin: 30px auto;
        text-align: center;

        h2 {
            margin-bottom: 20px;
            font-size: 23px !important;
        }

        .wish-scroller {
            max-height: 600px;
            min-height: 200px;
            overflow-y: scroll;
            padding: 20px;
            // border: 1px solid;

            .wish-container {
                max-width: 400px;
                margin: 0 auto;

                .wish-username {
                    margin-bottom: 10px;
                    font-size: 18px;
                    font-family: "Playfair Display";
                }

                .wish-text {
                    font-size: 15px;
                    font-family: "classy_v";
                }

                .wish-date {
                    text-align: right;
                    margin-top: 10px;
                    font-size: 12px;
                }
            }

            /* WebKit browsers */
            &::-webkit-scrollbar {
                width: 8px;
                /* scrollbar width */
            }

            &::-webkit-scrollbar-track {
                background: transparent;
                /* track background */
            }

            &::-webkit-scrollbar-thumb {
                background-color: #b08968;
                /* scrollbar color */
                border-radius: 10px;
                /* rounded edges */
                border: 2px solid transparent;
                /* spacing around thumb */
                background-clip: content-box;
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: #8c654b;
                /* darker on hover */
            }
        }
    }

    .seperator {
        height: 80px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative; // important for absolute img

        img {
            position: absolute;
            width: 50px;
            opacity: 0;
            animation: fadeInImg 1s ease forwards;
            animation-delay: 5s; // wait until line starts filling
            z-index: 2;
        }

        .line {
            width: 300px;
            border: 1px solid $brown-border;
            transform: scaleX(0); // start invisible
            transform-origin: left; // animate from left
            animation: fillLine 3s ease forwards;
        }
    }
}

.flipdown.flipdown__theme-light .rotor-group-heading:before {
    color: $brown-border;
}

.flipdown.flipdown__theme-light .rotor-leaf-rear,
.flipdown.flipdown__theme-light .rotor-leaf-bottom,
.flipdown.flipdown__theme-light .rotor-leaf-front,
.flipdown.flipdown__theme-light .rotor-bottom,
.flipdown.flipdown__theme-light .rotor-top {
    background-color: #813e20 !important;
    color: white !important;
}

.flipdown.flipdown__theme-light .rotor-group:nth-child(n + 2):nth-child(-n + 3):before,
.flipdown.flipdown__theme-light .rotor-group:nth-child(n + 2):nth-child(-n + 3):after {
    background-color: #813e20 !important;
}

.loader {
    border: 4px solid #f3f3f3;
    /* Light grey */
    border-top: 4px solid #813e20;
    /* Custom color */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
    display: none;
    /* hidden by default */
}

.fade-in {
    animation: fadeInText 3.5s ease forwards;
}

.line-fade-right {
    transform-origin: left; // animate from left
    animation: fillLine 1s ease forwards;
}

.img-fade-in {
    animation: fadeInImg 1s ease forwards;
    animation-delay: 0.8s; // wait until line starts filling
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeInBg {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fillLine {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes fadeInImg {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
