$background: #ffcb70;
$brown-border: #813e20;
$gold: #FFBB5C;
$gold-text-lighter: #fdc77a;


h1,
h2,
h3,
p {
    color: $brown-border !important;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display';
    font-weight: bolder;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 0.8rem;
    font-weight: bolder;
}

p {
    font-family: "classy_v";
    font-size: 12px;
}

.main-content-wrapper {
    // display: none;
    position: relative;
    background: $background;
    padding: 3vw 3vw 10vw;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        opacity: 0.4; // control transparency
        pointer-events: none; // make sure it doesn’t block clicks
        background:
            url("../images/cover/facade-top-left.png") top left no-repeat,
            url("../images/cover/facade-top-right.png") top right no-repeat,

            url("../images/cover/center-left.png") center left no-repeat,
            url("../images/cover/center-right.png") center right no-repeat,


            url("../images/cover/facade-bottom-left.png") bottom left no-repeat,
            url("../images/cover/facade-bottom-right.png") bottom right no-repeat;
        background-size: 150px 150px, 150px 150px, 80px 180px, 80px 180px, 150px 150px;

        @media only screen and (min-width: 1200px) {
            background-size: 250px 250px, 250px 250px, 140px 300px, 140px 300px, 250px 250px;
        }


    }


    .brides-detail-container {
        text-align: center;
        // margin-top: 10vh;
        // margin-bottom: 20px;
        color: $brown-border;

        h2 {
            margin-bottom: 0;
            font-weight: bold;
        }

        p {
            color: $brown-border;
        }

        &.parent {
            margin-top: 10vh;
            margin-bottom: 20px;
        }

        &.brides {

            h2 {
                text-transform: capitalize;
            }
        }
    }

    .invitation-salutation-container {
        margin: 50px 30px;
        text-align: center;

        p {
            color: $brown-border;
            font-size: 14px;
        }

        .dotted-line {
            width: 300px;
            margin: 45px auto 10px;
            border: 1px dotted $brown-border;
        }
    }

    .wedding-details-container {
        margin-top: 30px;
        text-align: center;

        @media only screen and (min-width: 1200px) {
            margin-top: 60px;
        }

        .detail-container {
            margin-top: 20px;
        }

        h2 {
            font-weight: bolder;
            font-size: 20px !important;
        }

        h3 {
            font-weight: 600;
            font-size: 16px;
        }

        p {
            font-size: 16px;
        }
    }

    .program-schedule {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 30px auto;


        h2 {
            color: white;
            text-align: center;
            font-family: 'Playfair Display';
            font-size: 20px !important;
            font-weight: bolder;

            @media only screen and (min-width: 1200px) {
                font-size: 1.7rem;
            }
        }

        .timeline {

            @media only screen and (min-width: 1200px) {
                margin: 0px 60px;
            }

            &::before {
                content: "";
                position: absolute;
                left: 15px; // Adjust this based on your layout
                top: 65px;
                bottom: 0;
                width: 2px;
                // background-color: $brown-border;

                @media only screen and (min-width: 1200px) {
                    font-size: 1.5rem;
                    left: 77px;
                }
            }

            .program-item {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 8px;
                // margin-left: 30px;

                .time {
                    font-size: 16px;
                    font-weight: bold;
                    color: $gold-text-lighter;
                    font-family: 'Playfair Display';
                }

                .event {
                    font-size: 14px;
                    flex: 1;
                    font-family: 'classy_v';
                    text-align: center;

                    @media only screen and (min-width: 1200px) {
                        font-size: 1.2rem;
                    }
                }

                // Dot for the current event
                &.current {
                    &::before {
                        content: "";
                        position: absolute;
                        left: 110px;
                        top: 7px;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background: url("../images/cover/seperator-center.png") no-repeat left;
                        background-size: 15px, 15px;
                        animation: breathe 1.6s ease-in-out infinite;

                        @media only screen and (min-width: 1200px) {
                            left: -18px;
                        }
                    }
                }
            }
        }

    }

    .wishing-chat-container {
        margin: 30px auto;
        text-align: center;

        h2 {
            margin-bottom: 20px;
        }

        .wish-scroller {
            max-height: 600px;
            min-height: 600px;
            overflow-y: scroll;
            padding: 20px;
            // border: 1px solid;

            .wish-container {
                max-width: 400px;
                margin: 0 auto;

                .wish-username {
                    margin-bottom: 10px;
                    font-size: 15px;
                }

                .wish-text {
                    font-size: 15px;
                }

                .wish-date {
                    text-align: right;
                    margin-top: 10px;
                    font-size: 12px;
                }
            }

            /* WebKit browsers */
            &::-webkit-scrollbar {
                width: 8px;
                /* scrollbar width */
            }

            &::-webkit-scrollbar-track {
                background: transparent;
                /* track background */
            }

            &::-webkit-scrollbar-thumb {
                background-color: #b08968;
                /* scrollbar color */
                border-radius: 10px;
                /* rounded edges */
                border: 2px solid transparent;
                /* spacing around thumb */
                background-clip: content-box;
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: #8c654b;
                /* darker on hover */
            }
        }

    }

    .seperator {
        // width: 500px;
        height: 80px;
        margin-top: 30px;
        // background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            position: absolute;
            width: 50px;
        }

        .line {
            width: 300px;
            border: 1px solid $brown-border;
        }
    }

}

.flipdown.flipdown__theme-light .rotor-group-heading:before {
    color: $brown-border;
}

.flipdown.flipdown__theme-light .rotor-leaf-rear,
.flipdown.flipdown__theme-light .rotor-leaf-bottom,
.flipdown.flipdown__theme-light .rotor-leaf-front,
.flipdown.flipdown__theme-light .rotor-bottom,
.flipdown.flipdown__theme-light .rotor-top {
    background-color: #813e20 !important;
    color: white !important;
}

.flipdown.flipdown__theme-light .rotor-group:nth-child(n+2):nth-child(-n+3):before,
.flipdown.flipdown__theme-light .rotor-group:nth-child(n+2):nth-child(-n+3):after {
    background-color: #813e20 !important;

}

.loader {
    border: 4px solid #f3f3f3;
    /* Light grey */
    border-top: 4px solid #813e20;
    /* Custom color */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
    display: none;
    /* hidden by default */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}