$background: #ffcb70;
$brown-border: #813e20;
$gold: #ffbb5c;
$gold-text-lighter: #fdc77a;

body {
    border: 8px solid $brown-border;
}

.card-cover-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center; /* vertical center */
    background:
        url("../images/cover/facade-top-left.png") top left no-repeat,
        url("../images/cover/facade-top-right.png") top right no-repeat,
        url("../images/cover/facade-center.png") center center no-repeat,
        url("../images/cover/facade-bottom-left.png") bottom left no-repeat,
        url("../images/cover/facade-bottom-right.png") bottom right no-repeat,
        $background;
    background-size:
        35% 25%,
        35% 25%,
        140% 75%,
        35% 25%;

    @media only screen and (min-width: 1200px) {
        background-size:
            250px 250px,
            250px 250px,
            1000px 1000px,
            250px 250px;
    }

    .center-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: white;
        background-color: $brown-border;
        // height: 460px;
        height: 350px;
        width: 250px;
        margin: 0 auto;
        // transform: translate(20%, 50%);
        // transform: translate(15%, 30%);
        // transform: translate(25%, 45%);
        border-radius: 30px;

        @media only screen and (min-width: 1200px) {
            height: 540px;
            width: 350px;
        }

        .text-walimatulurus {
            text-align: center;
            font-size: 16px;

            p {
                color: white !important;
            }

            img {
                width: 100px;
                margin: 0 auto;
            }
        }

        .text-initial {
            img {
                width: 200px;

                @media only screen and (min-width: 1200px) {
                    width: 300px;
                }
            }
        }

        .text-date-location {
            text-align: center;

            p {
                color: white !important;
            }
        }
    }
}
