$gold: #FFBB5C;
$gold-text-lighter: #fdc77a;


.count-down-container {
  // margin: 50px 10px;
  margin: 30px 10px 50px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: $gold-text-lighter;
    font-family: 'classy_v';
    font-size: 26px !important;
  }

  .flipdown {
    font-size: 1.5rem;
    width: max-content;
    zoom: 1.0;

    .rotor-group {
      .rotor-group-heading {
        font-family: 'classy_v';
      }
    }
  }
}