
//asmaraloka color
$primary-biege : #DAC0A3;
$dark-blue: #0F2C59;
$biege-to-white: #EADBC8;
$white: #F8F0E5;
$gold:  #FFBB5C;

$yellow:#f5ba1a;
$black:#000000;
$grey:#cccccc;

$gold-text: #fbb96d;
$navy-blue: #04303c;

$gold-text-lighter: #fdc77a;