// @use "~bootstrap/scss/bootstrap";

@use '_reset';
@use '_color';
@use '_typeface';
@use '_fontType';
@use '_button';


@use 'partial/nav';
@use 'partial/card-cover';
@use 'partial/card-detail';
@use 'partial/flipdown';
@use 'partial/card-guessbook';
@use 'partial/card-rsvp';
@use 'partial/timeline';
@use 'partial/doa';
@use 'partial/social-media';

// @media (min-width: 768px) and (max-width: 1199px) { }
// @media only screen and (min-width: 1200px) { }

.container-main {
    z-index: 10;
    position: fixed;
    background-image: url('../images/cover/bg1.webp');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 640px;
    overflow: hidden;
    height: 100%;
    width: 100%;

    @media (min-width: 768px) and (max-width: 1199px) {
        max-width: none;
    }

    @media only screen and (min-width: 1200px) {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

.container {
    position: relative;
    background-image: url('../images/cover/bg2.webp');
    background-position: center;
    background-size: 100% 100%;
    overflow: hidden;

    .center-top {
        z-index: 3;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        height: 150px;
        margin: 0;
        display: block;
        transition: transform 0.6s ease-in, opacity 0.6s ease-in;
        /* Add opacity transition */
        opacity: 1;
        /* Start fully visible */

        &.hidden {
            transform: translateY(-100%);
            /* Slide up */
            opacity: 0;
            /* Fade out */
            transition: transform 0.5s ease-out, opacity 0.5s ease-out;
            /* Match both transitions */
        }

        .one,
        .two,
        .three {
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            transition: transform 0.2s ease;
            animation: slideInFade 1s ease-out forwards, floatAndSway 6s ease-in-out infinite alternate;
        }

        .one {
            z-index: 1;
            width: 150px;
            height: 150px;
            top: -30px;
            left: -140px;
            /* Adjust for stacking effect */
            background-image: url('../images/cover/center-top-1.webp');
        }

        .two {
            z-index: 3;
            width: 140px;
            height: 140px;
            top: -30px;
            /* Slight offset for realism */
            left: -75px;
            background-image: url('../images/cover/center-top-2.webp');
        }

        .three {
            z-index: 2;
            width: 130px;
            height: 130px;
            top: -30px;
            /* More offset */
            left: 10px;
            background-image: url('../images/cover/center-top-3.webp');
        }
    }
}


.hide {
    display: none;
}

/* container-main is visible initially */
.container-main.card-cover-wrapper {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.container-main.hide {
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease;
}

@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateY(30px);
        /* Slide down initially */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* End at the original position */
    }
}

@keyframes slideInFade {
    0% {
        opacity: 0;
        transform: translateY(-50px);
        /* Start off-screen or above the viewport */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Slide to the original position */
    }
}

@keyframes floatAndSway {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-10px) rotate(2deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}

@keyframes slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}