/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: normal;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
  -moz-osx-font-smoothing: grayscale;
  /* Fixes font bold issue in Firefox version 25+ on Mac */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
main,
nav,
section {
  display: block;
}

html {
  line-height: 1;
  letter-spacing: 1px;
  max-width: 640px;
  width: 100%;
  margin: auto;
}
@media (min-width: 768px) and (max-width: 1199px) {
  html {
    max-width: none;
  }
}

body {
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  body {
    background-repeat: no-repeat;
  }
}

.no-scroll {
  overflow: hidden;
}

.hide {
  display: none !important;
}

.card-cover-wrapper,
.content-wrapper {
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

.card-cover-wrapper {
  opacity: 1;
}

.card-cover-wrapper.fade-out {
  opacity: 0;
  display: none !important;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix {
  clear: both;
}

h1, h2, h3, h4, h5 {
  font-family: "Bodoni Moda SC", serif;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

@font-face {
  font-family: "birdParadise";
  src: url("../fonts/BirdsOfParadise.ttf") format("truetype"), url("../fonts/BirdsOfParadise.woff") format("woff"), url("../fonts/BirdsOfParadise.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nova_quintaRg";
  src: url("../fonts/novaquinta.woff2") format("woff2"), url("../fonts/novaquinta.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "classy_v";
  src: url("../fonts/classyvogueregular-webfont.woff2") format("woff2"), url("../fonts/classyvogueregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PlayfairDisplay-Black";
  src: url("../fonts/PlayfairDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Black.woff") format("woff"), url("../fonts/PlayfairDisplay-Black.ttf") format("truetype"), url("../fonts/PlayfairDisplay-Black.svg#PlayfairDisplay-Black") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "peristiwa";
  src: url("../app/fonts/Peristiwa.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
p {
  font-family: "Playfair Display", serif;
  line-height: 1.5em;
  font-size: 13px;
  color: white;
}
@media all and (min-width: 768px) {
  p {
    font-size: 20px;
    font-weight: 400;
  }
}

label {
  font-family: "Comfortaa", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-nav {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #813e20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 15px;
}
.bottom-nav .nav-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bottom-nav .nav-item i {
  font-size: 20px;
  -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, color 0.3s ease;
  transition: transform 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
}
.bottom-nav .nav-item span {
  margin-top: 12px;
  font-size: 12px;
  font-weight: 600;
}
.bottom-nav .nav-item:hover {
  color: #fff;
}
.bottom-nav .nav-item:hover i {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modal {
  z-index: 999;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0px;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal .modal-content {
  z-index: 4;
  position: fixed;
  bottom: 120px;
  background-color: #fdf5e6;
  width: 95%;
  max-width: 500px;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.modal .modal-content.slide-in {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.modal .modal-content.slide-out {
  -webkit-animation: slide-out-bottom 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-out-bottom 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@media only screen and (min-width: 1200px) {
  .modal .modal-content {
    -webkit-transform: translate(40px, -30px);
            transform: translate(40px, -30px);
  }
}
.modal .modal-content .modal-header {
  background-color: #813e20;
  padding: 20px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal .modal-content .modal-header h2 {
  color: white !important;
  font-family: "classy_v";
  font-size: 1.5rem;
  margin-bottom: 0 !important;
}
.modal .modal-content .modal-header .close {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}
.modal .modal-content .modal-body {
  padding: 1rem;
}
.modal .modal-content .modal-body .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  font-family: "classy_v";
}
.modal .modal-content .modal-body .contact-item i {
  font-size: 1.5rem;
  color: #aaa68e;
}
.modal .modal-content .modal-body .contact-item .contact-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.modal .modal-content .modal-body .contact-item .contact-actions i {
  color: #a58b67;
  font-size: 1.5rem;
  cursor: pointer;
}
.modal .modal-content .modal-body .contact-item .contact-actions i:hover {
  color: #8c7e65;
}
.modal .modal-content .modal-body .location-map {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}
.modal .modal-content .modal-body .location-map iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 15px;
}
.modal .modal-content .modal-body .calendar-footer {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.modal .modal-content .modal-body .calendar-footer button {
  background-color: #847d65;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.modal .modal-content .modal-body .calendar-footer button i {
  font-size: 1rem;
}
.modal .modal-content .modal-body .calendar-footer button:hover {
  background-color: #6f6856;
}
.modal .modal-content .modal-body .calendar-footer .apple-btn {
  background-color: #000;
}
.modal .modal-content .modal-body .calendar-footer .google-btn {
  background-color: #db4437;
}
.modal .modal-content .modal-body .rsvp-wrapper .input-group {
  margin: 10px;
}
.modal .modal-content .modal-body .rsvp-wrapper .input-group input, .modal .modal-content .modal-body .rsvp-wrapper .input-group textarea {
  height: 30px;
  width: 100%;
  border: 1px solid #C79E4F;
  font-size: 16px;
  font-family: "classy_v";
}
.modal .modal-content .modal-body .rsvp-wrapper .input-group textarea {
  height: 50px;
}
.modal .modal-content .modal-body .rsvp-wrapper .counter-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal .modal-content .modal-body .rsvp-wrapper .counter-group .counter {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}
.modal .modal-content .modal-body .rsvp-wrapper .counter-group .counter label {
  font-size: 12px;
  padding: 5px;
}
.modal .modal-content .modal-body .rsvp-wrapper .counter-group .counter .counter-controls {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal .modal-content .modal-body .rsvp-wrapper .counter-group .counter .counter-controls input {
  width: 90px;
  text-align: center;
}
.modal .modal-content .modal-body .rsvp-wrapper .counter-group .counter .counter-controls button {
  border: 0px;
  background-color: #aaa68e;
}
.modal .modal-content .modal-body .rsvp-wrapper .rsvp-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal .modal-content .modal-body .modal-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.modal .modal-content .modal-body .modal-buttons a {
  background-color: #aaa68e;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.modal .modal-content .modal-body .modal-buttons a:hover {
  background-color: #8c7e65;
}
.modal .modal-content .modal-body .modal-buttons button {
  background-color: #aaa68e;
  border: 0 !important;
  border-radius: 10px;
  padding: 10px;
  color: white;
}
.modal .modal-content .modal-body .message {
  text-align: center;
  padding: 20px;
  color: black;
}
.modal .modal-content .modal-body .message p {
  color: black;
}
.modal .modal-content .modal-body .message .message.success {
  color: green;
}
.modal .modal-content .modal-body .message .message.error {
  color: red;
}
.modal .location-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.modal .location-buttons .location-button {
  background-color: #aaa68e;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.modal .location-buttons .location-button i {
  font-size: 1.2rem;
}
.modal .location-buttons .location-button:hover {
  background-color: #8c7e65;
}

.jsCalendar table {
  font-family: Cinzel;
  font-weight: 600;
  width: 100%;
  margin: 0 !important;
  border-radius: 5px;
  overflow: hidden;
}
.jsCalendar table thead {
  padding: 10px 4px;
  margin: 0px;
  border-radius: 0px 0px 20px 20px;
}
.jsCalendar table thead .jsCalendar-nav-left {
  font-size: 22px;
  height: auto;
  width: auto;
}
.jsCalendar table thead .jsCalendar-nav-right {
  font-size: 22px;
  height: auto;
  width: auto;
}
.jsCalendar table thead .jsCalendar-title-name {
  font-family: "classy_v";
}
.jsCalendar table thead .jsCalendar-week-days {
  font-family: "classy_v";
}
.jsCalendar table thead tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.jsCalendar table thead tr th {
  font-size: 15px !important;
}
.jsCalendar table thead tr .jsCalendar-title {
  width: 100%;
  height: auto;
}
.jsCalendar table thead tr .jsCalendar-name {
  padding: 10px 20px;
}
.jsCalendar table tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "classy_v";
}
.jsCalendar table tbody td {
  font-size: 15px !important;
}
.jsCalendar table tbody td.jsCalendar-current {
  background-color: #99977E;
  border-radius: 8px;
  color: #FFFFFF;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-out-bottom {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@-webkit-keyframes slide-out-bottom {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
body {
  border: 8px solid #813e20;
  background-color: #813e20;
}

.card-cover-wrapper {
<<<<<<< HEAD
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* horizontal center */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* vertical center */
  background: url("../images/cover/facade-top-left.png") top left no-repeat, url("../images/cover/facade-top-right.png") top right no-repeat, url("../images/cover/facade-center.png") center center no-repeat, url("../images/cover/facade-bottom-left.png") bottom left no-repeat, url("../images/cover/facade-bottom-right.png") bottom right no-repeat, #ffcb70;
  background-size: 35% 25%, 35% 25%, 140% 75%, 35% 25%;
}
@media only screen and (min-width: 1200px) {
  .card-cover-wrapper {
    background-size: 250px 250px, 250px 250px, 1000px 1000px, 250px 250px;
=======
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
  background: #ffcb70;
}
.card-cover-wrapper .bg-img {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
}
@media only screen and (min-width: 1200px) {
  .card-cover-wrapper .bg-img {
    width: 250px;
    height: 250px;
  }
}
.card-cover-wrapper .bg-img.top-left {
  top: 0;
  left: 0;
  background-image: url("../images/cover/facade-top-left.png");
}
.card-cover-wrapper .bg-img.top-right {
  top: 0;
  right: 0;
  background-image: url("../images/cover/facade-top-right.png");
}
.card-cover-wrapper .bg-img.bottom-left {
  bottom: 0;
  left: 0;
  background-image: url("../images/cover/facade-bottom-left.png");
}
.card-cover-wrapper .bg-img.bottom-right {
  bottom: 0;
  right: 0;
  background-image: url("../images/cover/facade-bottom-right.png");
}
.card-cover-wrapper .bg-img.center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../images/cover/facade-center.png");
  width: 600px;
  height: 600px;
}
@media only screen and (min-width: 1200px) {
  .card-cover-wrapper .bg-img.center {
    width: 1000px;
    height: 1000px;
>>>>>>> 411687419479f65bc898cd1b69454df4b104181d
  }
}
.card-cover-wrapper .center-container {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #813e20;
<<<<<<< HEAD
  height: 350px;
  width: 250px;
=======
  height: 50vh;
  width: 240px;
>>>>>>> 411687419479f65bc898cd1b69454df4b104181d
  margin: 0 auto;
  border-radius: 30px;
}
@media only screen and (min-width: 1200px) {
  .card-cover-wrapper .center-container {
    height: 540px;
<<<<<<< HEAD
    width: 350px;
=======
    width: 300px;
>>>>>>> 411687419479f65bc898cd1b69454df4b104181d
  }
}
.card-cover-wrapper .center-container .text-walimatulurus {
  text-align: center;
  font-size: 16px;
}
.card-cover-wrapper .center-container .text-walimatulurus p {
  color: white !important;
}
.card-cover-wrapper .center-container .text-walimatulurus img {
  width: 100px;
  margin: 0 auto;
}
.card-cover-wrapper .center-container .text-initial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card-cover-wrapper .center-container .text-initial img {
<<<<<<< HEAD
  width: 200px;
=======
  width: 80%;
>>>>>>> 411687419479f65bc898cd1b69454df4b104181d
}
@media only screen and (min-width: 1200px) {
  .card-cover-wrapper .center-container .text-initial img {
    width: 300px;
  }
}
.card-cover-wrapper .center-container .text-date-location {
  text-align: center;
}
.card-cover-wrapper .center-container .text-date-location p {
  color: white !important;
}
.card-cover-wrapper .button-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 75vh;
}
.card-cover-wrapper .button-con button {
  background-color: #813e20;
  color: whitesmoke;
  border: none;
  padding: 12px 25px;
  font-size: 1rem;
  font-family: "Bodoni Moda SC", serif;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.card-cover-wrapper .button-con button:hover {
  background-color: #8c7e65;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.card-cover-wrapper .button-con button:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
h1,
h2,
h3,
p {
  color: #813e20 !important;
}

h1,
h2,
h3 {
  font-family: "Playfair Display";
  font-weight: bolder;
}

h2 {
  font-size: 1rem;
}

h3 {
<<<<<<< HEAD
  font-size: 0.9rem;
=======
  font-size: 0.8rem;
  font-weight: bolder;
>>>>>>> 411687419479f65bc898cd1b69454df4b104181d
}

p {
  font-family: "classy_v";
<<<<<<< HEAD
  font-size: 0.8rem !important;
=======
  font-size: 12px;
}

.content-wrapper .splash-screen {
  height: 100vh;
  position: absolute;
  z-index: 9999;
  background-color: #813e20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.content-wrapper .splash-screen img {
  width: 80%;
}
.content-wrapper .splash-screen.swipe-up {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  pointer-events: none;
>>>>>>> 411687419479f65bc898cd1b69454df4b104181d
}

.main-content-wrapper {
  position: relative;
  background: #ffcb70;
  padding: 3vw 3vw 10vw;
}
.main-content-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
<<<<<<< HEAD
  background: url("../images/cover/facade-top-left.png") top left no-repeat, url("../images/cover/facade-top-right.png") top right no-repeat, url("../images/cover/center-left.png") center left no-repeat, url("../images/cover/center-right.png") center right no-repeat, url("../images/cover/facade-bottom-left.png") bottom left no-repeat, url("../images/cover/facade-bottom-right.png") bottom right no-repeat;
  background-size: 180px 180px, 180px 180px, 100px 180px, 100px 180px, 180px 180px, 180px 180px;
=======
>>>>>>> 411687419479f65bc898cd1b69454df4b104181d
  opacity: 0.4;
  pointer-events: none;
  background: url("../images/cover/facade-top-left.png") top left no-repeat, url("../images/cover/facade-top-right.png") top right no-repeat, url("../images/cover/center-left.png") center left no-repeat, url("../images/cover/center-right.png") center right no-repeat, url("../images/cover/facade-bottom-left.png") bottom left no-repeat, url("../images/cover/facade-bottom-right.png") bottom right no-repeat;
  background-size: 150px 150px, 150px 150px, 80px 180px, 80px 180px, 150px 150px;
  -webkit-animation: fadeInBg 1.5s ease forwards;
          animation: fadeInBg 1.5s ease forwards;
}
@media only screen and (min-width: 1200px) {
  .main-content-wrapper::before {
    background-size: 250px 250px, 250px 250px, 140px 300px, 140px 300px, 250px 250px;
  }
}
@media only screen and (min-width: 1200px) {
  .main-content-wrapper::before {
    background-size: 250px 250px, 250px 250px, 140px 300px, 140px 300px, 250px 250px;
  }
}
.main-content-wrapper .brides-detail-container {
  text-align: center;
  color: #813e20;
}
.main-content-wrapper .brides-detail-container h2 {
  margin-bottom: 0;
  font-weight: bold;
}
.main-content-wrapper .brides-detail-container p {
  color: #813e20;
}
.main-content-wrapper .brides-detail-container.parent {
  margin-top: 10vh;
  margin-bottom: 20px;
  -webkit-animation: fadeInText 1.5s ease forwards;
          animation: fadeInText 1.5s ease forwards;
}
.main-content-wrapper .brides-detail-container.brides {
  -webkit-animation: fadeInText 3.5s ease forwards;
          animation: fadeInText 3.5s ease forwards;
}
.main-content-wrapper .brides-detail-container.brides h2 {
  text-transform: capitalize;
}
.main-content-wrapper .invitation-salutation-container {
  margin: 50px 30px;
  text-align: center;
  -webkit-animation: fadeInText 2.5s ease forwards;
          animation: fadeInText 2.5s ease forwards;
}
.main-content-wrapper .invitation-salutation-container p {
  color: #813e20;
  font-size: 14px;
}
.main-content-wrapper .invitation-salutation-container .dotted-line {
  width: 300px;
  margin: 45px auto 10px;
  border: 1px dotted #813e20;
}
.main-content-wrapper .wedding-details-container {
  margin-top: 30px;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  .main-content-wrapper .wedding-details-container {
    margin-top: 60px;
  }
}
.main-content-wrapper .wedding-details-container .detail-container {
  margin-top: 20px;
}
.main-content-wrapper .wedding-details-container h2 {
  font-weight: bolder;
  font-size: 20px !important;
}
.main-content-wrapper .wedding-details-container h3 {
  font-weight: 600;
  font-size: 16px;
}
.main-content-wrapper .wedding-details-container p {
  font-size: 16px;
}
.main-content-wrapper .program-schedule {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto;
}
.main-content-wrapper .program-schedule h2 {
  color: white;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 20px !important;
  font-weight: bolder;
}
@media only screen and (min-width: 1200px) {
  .main-content-wrapper .program-schedule h2 {
    font-size: 1.7rem;
  }
}
@media only screen and (min-width: 1200px) {
  .main-content-wrapper .program-schedule .timeline {
    margin: 0px 60px;
  }
}
.main-content-wrapper .program-schedule .timeline::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 65px;
  bottom: 0;
  width: 2px;
}
@media only screen and (min-width: 1200px) {
  .main-content-wrapper .program-schedule .timeline::before {
    font-size: 1.5rem;
    left: 77px;
  }
}
.main-content-wrapper .program-schedule .timeline .program-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  max-width: 300px;
}
.main-content-wrapper .program-schedule .timeline .program-item .time {
<<<<<<< HEAD
  font-size: 1rem !important;
=======
  font-size: 16px;
>>>>>>> 411687419479f65bc898cd1b69454df4b104181d
  font-weight: bold;
  color: #fdc77a;
  font-family: "Playfair Display";
}
.main-content-wrapper .program-schedule .timeline .program-item .event {
  font-size: 14px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "classy_v";
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  .main-content-wrapper .program-schedule .timeline .program-item .event {
    font-size: 1.2rem;
  }
}
.main-content-wrapper .program-schedule .timeline .program-item.current::before {
  content: "";
  position: absolute;
<<<<<<< HEAD
  left: -19px;
  top: 18px;
=======
  left: 110px;
  top: 7px;
>>>>>>> 411687419479f65bc898cd1b69454df4b104181d
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url("../images/cover/seperator-center.png") no-repeat left;
  background-size: 15px, 15px;
  -webkit-animation: breathe 1.6s ease-in-out infinite;
          animation: breathe 1.6s ease-in-out infinite;
}
@media only screen and (min-width: 1200px) {
  .main-content-wrapper .program-schedule .timeline .program-item.current::before {
    left: -18px;
  }
}
.main-content-wrapper .wishing-chat-container {
  margin: 30px auto;
  text-align: center;
}
.main-content-wrapper .wishing-chat-container h2 {
  margin-bottom: 20px;
  font-size: 20px !important;
}
.main-content-wrapper .wishing-chat-container .wish-scroller {
  max-height: 600px;
  min-height: 200px;
  overflow-y: scroll;
  padding: 20px;
<<<<<<< HEAD
  border: 1px solid;
=======
  /* WebKit browsers */
>>>>>>> 411687419479f65bc898cd1b69454df4b104181d
}
.main-content-wrapper .wishing-chat-container .wish-scroller .wish-container {
  max-width: 400px;
  margin: 0 auto;
}
.main-content-wrapper .wishing-chat-container .wish-scroller .wish-container .wish-username {
  margin-bottom: 10px;
  font-size: 15px;
}
.main-content-wrapper .wishing-chat-container .wish-scroller .wish-container .wish-text {
  font-size: 15px;
}
.main-content-wrapper .wishing-chat-container .wish-scroller .wish-container .wish-date {
  text-align: right;
  margin-top: 10px;
  font-size: 12px;
}
.main-content-wrapper .wishing-chat-container .wish-scroller {
  /* WebKit browsers */
}
.main-content-wrapper .wishing-chat-container .wish-scroller::-webkit-scrollbar {
  width: 8px;
  /* scrollbar width */
}
.main-content-wrapper .wishing-chat-container .wish-scroller::-webkit-scrollbar-track {
  background: transparent;
  /* track background */
}
.main-content-wrapper .wishing-chat-container .wish-scroller::-webkit-scrollbar-thumb {
  background-color: #b08968;
  /* scrollbar color */
  border-radius: 10px;
  /* rounded edges */
  border: 2px solid transparent;
  /* spacing around thumb */
  background-clip: content-box;
}
.main-content-wrapper .wishing-chat-container .wish-scroller::-webkit-scrollbar-thumb:hover {
  background-color: #8c654b;
  /* darker on hover */
}
.main-content-wrapper .seperator {
  height: 80px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.main-content-wrapper .seperator img {
  position: absolute;
  width: 50px;
  opacity: 0;
  -webkit-animation: fadeInImg 1s ease forwards;
          animation: fadeInImg 1s ease forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.main-content-wrapper .seperator .line {
  width: 300px;
  border: 1px solid #813e20;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: fillLine 1s ease forwards;
          animation: fillLine 1s ease forwards;
}

.flipdown.flipdown__theme-light .rotor-group-heading:before {
  color: #813e20;
}

.flipdown.flipdown__theme-light .rotor-leaf-rear,
.flipdown.flipdown__theme-light .rotor-leaf-bottom,
.flipdown.flipdown__theme-light .rotor-leaf-front,
.flipdown.flipdown__theme-light .rotor-bottom,
.flipdown.flipdown__theme-light .rotor-top {
  background-color: #813e20 !important;
  color: white !important;
}

.flipdown.flipdown__theme-light .rotor-group:nth-child(n+2):nth-child(-n+3):before,
.flipdown.flipdown__theme-light .rotor-group:nth-child(n+2):nth-child(-n+3):after {
  background-color: #813e20 !important;
}

.loader {
  border: 4px solid #f3f3f3;
  /* Light grey */
  border-top: 4px solid #813e20;
  /* Custom color */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  margin: 20px auto;
  display: none;
  /* hidden by default */
}

.fade-in {
  -webkit-animation: fadeInText 3.5s ease forwards;
          animation: fadeInText 3.5s ease forwards;
}

.line-fade-right {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: fillLine 1s ease forwards;
          animation: fillLine 1s ease forwards;
}

.img-fade-in {
  -webkit-animation: fadeInImg 1s ease forwards;
          animation: fadeInImg 1s ease forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes fadeInBg {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}
@keyframes fadeInBg {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}
@-webkit-keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fillLine {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes fillLine {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@-webkit-keyframes fadeInImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.count-down-container {
  margin: 30px 10px 50px;
  text-align: center;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.count-down-container h2 {
  color: #fdc77a;
  font-family: "classy_v";
  font-size: 26px !important;
}
.count-down-container .flipdown {
  font-size: 1.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  zoom: 1;
}
.count-down-container .flipdown .rotor-group .rotor-group-heading {
  font-family: "classy_v";
}

.guest-book-container {
  position: relative;
  z-index: 1;
  padding: 20px;
  margin-bottom: 50px;
}
.guest-book-container h2 {
  color: white;
  text-align: center;
}
.guest-book-container .polaroid-container {
  background-color: white;
  padding: 5px;
  margin: 0 auto 30px;
}
.guest-book-container .polaroid-container .polaroid-image {
  background-color: rgb(0, 0, 0);
  width: 95%;
  height: 450px;
  margin: 10px auto;
  overflow: hidden;
  border: 1px solid white;
}
.guest-book-container .polaroid-container .polaroid-image img {
  max-width: 600px;
  min-width: 400px;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0.9) contrast(1.1) saturate(0.9);
          filter: brightness(0.9) contrast(1.1) saturate(0.9);
}
.guest-book-container .polaroid-container .message {
  margin: 10px;
}
.guest-book-container .polaroid-container .message p {
  color: black;
}
.guest-book-container .polaroid-container .message .polaroid-name {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}
.guest-book-container .polaroid-container .message .polaroid-message {
  font-size: 15px;
  margin-top: 10px;
}
.guest-book-container .polaroid-container .message .polaroid-date {
  margin-top: 10px;
  text-align: right;
}
.guest-book-container .guestbook-form {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #faf9f6;
  border-radius: 12px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Georgia", serif;
}
.guest-book-container .guestbook-form label {
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
  color: #6b5b95;
  font-weight: bold;
}
.guest-book-container .guestbook-form input[type=text],
.guest-book-container .guestbook-form textarea,
.guest-book-container .guestbook-form input[type=file] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #fdfdfd;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
}
.guest-book-container .guestbook-form input[type=text]:focus,
.guest-book-container .guestbook-form textarea:focus,
.guest-book-container .guestbook-form input[type=file]:focus {
  border: 1px solid #c49a6c;
  outline: none;
  background-color: #fff9f3;
}
.guest-book-container .guestbook-form textarea {
  height: 150px;
  resize: none;
}
.guest-book-container .guestbook-form button {
  display: inline-block;
  background-color: #c49a6c;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.2s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.2s ease;
  transition: background-color 0.3s ease, transform 0.2s ease;
  transition: background-color 0.3s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
}
.guest-book-container .guestbook-form button:hover {
  background-color: #b38259;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.guest-book-container .guestbook-form button:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.guest-book-container .guestbook-form {
  position: relative;
  padding-top: 40px;
}
.guest-book-container .guestbook-form:before, .guest-book-container .guestbook-form:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("https://example.com/floral-pattern.svg");
  opacity: 0.1;
  z-index: -1;
}
.guest-book-container .guestbook-form:before {
  top: -30px;
  left: -30px;
}
.guest-book-container .guestbook-form:after {
  bottom: -30px;
  right: -30px;
}

.polaroid-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px;
  position: relative;
}
.polaroid-board .polaroid-image {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  height: auto;
  margin: 10px;
  -webkit-transform: rotate(calc(10deg * var(--random-rotation)));
          transform: rotate(calc(10deg * var(--random-rotation)));
}
.polaroid-board .polaroid-image img {
  max-width: 100%;
  max-height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0.9) contrast(1.1) saturate(1.2);
          filter: brightness(0.9) contrast(1.1) saturate(1.2);
}

.card-rsvp-container {
  background: yellow;
  height: 100vh;
}

.container-doa {
  position: relative; /* Ensure child elements are positioned relative to this container */
  height: 300px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 70px auto;
  border: 1px solid #E5D6BC;
}
.container-doa .flower-top {
  position: absolute;
  top: 0; /* Pin to the top */
  left: 0; /* Pin to the left */
  width: 150px;
  height: 160px;
  background-image: url("../images/cover/flower-doa-top.webp");
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%); /* Adjust position slightly outside container for a floating effect */
}
@media (min-width: 768px) and (max-width: 1199px) {
  .container-doa .flower-top {
    width: 135px;
    height: 135px;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}
@media only screen and (min-width: 1200px) {
  .container-doa .flower-top {
    width: 135px;
    height: 135px;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}
.container-doa .flower-bottom {
  position: absolute;
  bottom: 0; /* Pin to the bottom */
  right: 0; /* Pin to the right */
  width: 150px;
  height: 160px;
  background-image: url("../images/cover/flower-doa-bottom.webp");
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%); /* Adjust position slightly outside container for a floating effect */
}
@media (min-width: 768px) and (max-width: 1199px) {
  .container-doa .flower-bottom {
    width: 135px;
    height: 135px;
    -webkit-transform: translate(3%, 0%);
            transform: translate(3%, 0%);
  }
}
@media only screen and (min-width: 1200px) {
  .container-doa .flower-bottom {
    width: 135px;
    height: 135px;
    -webkit-transform: translate(3%, 0%);
            transform: translate(3%, 0%);
  }
}
.container-doa .arabic {
  font-size: 24px;
}
.container-doa p {
  color: #fdc77a;
  font-family: "classy_v";
  padding: 20px;
  text-align: center;
}

.social-media-container {
  background-color: white;
  color: black;
}